.friends-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #333;
    width: 15%;
    gap: 100px;
    right: 183px;
    top: 59px;
    height: auto;
    padding: 0.5rem 1rem; /*figure out how to make titles like friends list start at the top of the div*/
    z-index: 1000;
    position: fixed;
    color: white;
    border: none;
}

    .friends-list button {
        color: white;
        background-color: black;
        border-bottom: solid 1px white;
    }

    .friends-list div {
        display: flex;
        flex-direction: column;
        color: white;
        background-color: black;
        border: none;
        border: solid 1px white;
        border-radius: 20px;
        gap: 30px;
    }
