#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.main-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    width: 1000px;
    height: auto;
    flex-wrap: wrap;
    background-color: lightgray;

}
.product-div {
    background-color: white;
    font-size: 5px;
    width: auto;
    height: auto;
    
}
.header-div{
    margin-bottom: 100px;
    font-size: 50px;
    
}