#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
    max-width: 100px;
    height: 50px;
}

.main-div {
    color:white;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    padding: 24px 0;
    background: #333;
    border: none;
}

.product-div button:hover {
    background: linear-gradient(90deg, #a259c6 0%, #4f8cff 100%);
}

.product-div span {
    font-size: 1rem;
    color: #333;
    margin-bottom: 8px;
}

.header-div{

    margin-bottom: 100px;
    font-size: 50px;
    gap: 30px;
    
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #333;
    width: 100%;
    gap: 100px;
    top: 0;
    height: 5.5%;
    padding: 0.5rem 1rem;
    z-index: 1000;
    position: fixed;
    border-bottom: solid 1px white;
}


    .navbar ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 150px;
        
        justify-content: space-around;
    }

    .navbar li {
        display: inline;
    }

    .navbar a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.2s;
    }

    .navbar a:hover {
        color: #ffd700;
    }
.div-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: black;
    border: dashed 5px red;
}
.div-left {
    margin-left: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #333;
    border: none !important;
}
.checkout-div button {
    margin-top: 10px;
    padding: 8px 16px;
    background: linear-gradient(90deg, #4f8cff 0%, #a259c6 100%);
    color: #aef;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #333;
    width: 15%;

    gap: 100px;
    left: 183px;
    top: 59px;
    height: auto;
    padding: 0.5rem 1rem;
    z-index: 1000;
    position: fixed;
    color: white;
    border: none;
}

    .menu button {
        color: white;
        background-color: black;
        border-bottom: solid 1px white;
    }
    .menu div {
        display: flex;
        flex-direction: column;
        color: white;
        background-color: black;
        border: none;
        border: solid 1px white;
        border-radius: 20px;
        gap: 30px;
    }
.friends-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color:#333;
    width: 15%;
    gap: 100px;
    right: 183px;
    top: 59px;
    height: auto;
    padding: 0.5rem 1rem; /*figure out how to make titles like friends list start at the top of the div*/
    z-index: 1000;
    position: fixed;
    color: white;
    border: none;

}
    .friends-list button {
        color: white;
        background-color: black;
        border-bottom: solid 1px white;
        
    }
    .friends-list div {
        display: flex;
        flex-direction: column;
        color: white;
        background-color: black;
        border: none;
        border: solid 1px white;
        border-radius: 20px;
        gap: 30px;
    }

.text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: flex-start;
    margin-top: 20px;
    width: 40%;
    background: black;
    color: white !important;
    font-size: 20px;
    text-wrap: wrap;
    border: solid white 0.5px;
    border-radius: 20px;
}

/*Lucide icon library*/